send-service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://codeproject.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://codeproject.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://codeproject.com/webservices/">
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClientMessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Flashing" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Acknowledgement" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EnableCallback" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeliveryTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MaximumCredits" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValidityPeriod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recipients" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DlrUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataCoding" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="tns:ArrayOfResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Response" nillable="true" type="tns:Response" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RequestId" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSent" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientMessageId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Split" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfResponse" nillable="true" type="tns:ArrayOfResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="MessageText" type="s:string" />
    <wsdl:part name="MessageContent" type="s:string" />
    <wsdl:part name="ClientMessageID" type="s:string" />
    <wsdl:part name="Flashing" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Acknowledgement" type="s:string" />
    <wsdl:part name="EnableCallback" type="s:string" />
    <wsdl:part name="DeliveryTime" type="s:string" />
    <wsdl:part name="MaximumCredits" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="ValidityPeriod" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="IP" type="s:string" />
    <wsdl:part name="DlrUrl" type="s:string" />
    <wsdl:part name="DateStamp" type="s:string" />
    <wsdl:part name="fullURL" type="s:string" />
    <wsdl:part name="udh" type="s:string" />
    <wsdl:part name="dataCoding" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="MessageText" type="s:string" />
    <wsdl:part name="MessageContent" type="s:string" />
    <wsdl:part name="ClientMessageID" type="s:string" />
    <wsdl:part name="Flashing" type="s:string" />
    <wsdl:part name="SenderName" type="s:string" />
    <wsdl:part name="Acknowledgement" type="s:string" />
    <wsdl:part name="EnableCallback" type="s:string" />
    <wsdl:part name="DeliveryTime" type="s:string" />
    <wsdl:part name="MaximumCredits" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="ValidityPeriod" type="s:string" />
    <wsdl:part name="Recipients" type="s:string" />
    <wsdl:part name="IP" type="s:string" />
    <wsdl:part name="DlrUrl" type="s:string" />
    <wsdl:part name="DateStamp" type="s:string" />
    <wsdl:part name="fullURL" type="s:string" />
    <wsdl:part name="udh" type="s:string" />
    <wsdl:part name="dataCoding" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfResponse" />
  </wsdl:message>
  <wsdl:portType name="SendServiceSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendServiceSoap12">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendServiceHttpGet">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpGetIn" />
      <wsdl:output message="tns:SendMessageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SendServiceHttpPost">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpPostIn" />
      <wsdl:output message="tns:SendMessageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendServiceSoap" type="tns:SendServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://codeproject.com/webservices/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendServiceSoap12" type="tns:SendServiceSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://codeproject.com/webservices/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendServiceHttpGet" type="tns:SendServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendServiceHttpPost" type="tns:SendServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendService">
    <wsdl:port name="SendServiceSoap" binding="tns:SendServiceSoap">
      <soap:address location="http://localhost:9900/sendservice" />
    </wsdl:port>
    <wsdl:port name="SendServiceSoap12" binding="tns:SendServiceSoap12">
      <soap12:address location="http://localhost:9900/sendservice" />
    </wsdl:port>
    <wsdl:port name="SendServiceHttpGet" binding="tns:SendServiceHttpGet">
      <http:address location="http://localhost:9900/sendservice" />
    </wsdl:port>
    <wsdl:port name="SendServiceHttpPost" binding="tns:SendServiceHttpPost">
      <http:address location="http://localhost:9900/sendservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>